body
{
    background-color: aquamarine;
}
#title
{
    font-size: 45px;
    font-weight: bold;
}
#author
{
    font-size: 25px;
    font-weight: 300;
}
#passage
{
    font-size: 35px;
    font-weight: 800;
}
#chocolate
{
    border-image-width: 8px;
}